<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	<!-- TRACE/DEBUG/INFO/WARN/ERROR -->
	
	<logger name="org.springframework" level="ERROR" />
	<logger name="org.apache.ibatis" level="ERROR" />
	<logger name="org.mybatis.spring.SqlSessionUtils" level="ERROR" />
	<logger name="net.sf.jmimemagic" level="ERROR" />
	
	<!--
	<logger name="java.sql" level="INFO" /> 
	<logger name="jdbc.sqlonly" additivity="false" level="DEBUG" /> 
	<logger name="jdbc.sqltiming" additivity="false" level="DEBUG" /> 
	<logger name="jdbc.resultsettable" additivity="false" level="ERROR" /> 
	<logger name="jdbc.audit" additivity="false" level="ERROR" /> 
	<logger name="jdbc.resultset" additivity="false" level="ERROR" /> 
	<logger name="jdbc.connection" additivity="false" level="ERROR" /> 
	<logger name="log4jdbc.debug" additivity="false" level="DEBUG" /> 
	-->

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${app.home}/logs/daily.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${app.home}/logs/daily.log.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>10</maxHistory> <!-- 파일 저장 기간 -->
		</rollingPolicy>
		<encoder>
			<pattern>%date [%thread] [%-5level] [%logger{36}] %message%xException%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator>
				<expression>
				return message.contains("Connection");
				</expression>
			</evaluator>
			<onMatch>DENY</onMatch>
		</filter>
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator>
				<expression>
    			if(logger.indexOf("getTbl_giftcard_mstListByPub_status") > 0) return true;
    			else return false;
				</expression>
			</evaluator>
			<onMatch>DENY</onMatch>
		</filter>
	</appender>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date [%thread] [%-5level] [%logger{36}] %message%xException%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator>
				<expression>
				return message.contains("Connection");
				</expression>
			</evaluator>
			<onMatch>DENY</onMatch>
		</filter>
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator>
				<expression>
    			if(logger.indexOf("getTbl_giftcard_mstListByPub_status") > 0) return true;
    			else return false;
				</expression>
			</evaluator>
			<onMatch>DENY</onMatch>
		</filter>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="CONSOLE" />	
		<appender-ref ref="FILE" />
	</root>
</configuration>